body{
  margin:0;
  padding:0;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family:sans-serif;
  background:#D8E3E7;
  position:relative;
}

.main{
  width:215px;
  height:420px;
  background:#434242;
  border-radius:20px;
  margin-top:200px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-start:column;
  position:relative;
  border: 2px solid black;
  border-bottom:4px solid black;
  border-right:3px solid black;
  cursor:pointer;
  transition: all .3s ease-in-out;
  margin-top:350px;
  display:none;
}


.main-front{
  width:215px;
  height:420px;
  background:white;
  border-radius:20px;
  margin-top:200px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-start:column;
  position:relative;
  border: 2px solid black;
  border-bottom:4px solid black;
  border-right:3px solid black;
  cursor:pointer;
  transition: all .3s ease-in-out;
  margin-top:350px;
  
  background:url("https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,f_jpg,h_1018,q_65,w_600/v1/clients/fingerlakesvc/finger_lakes_canandaigua_fall_scenic_drive_a3bc55ff-d636-4c9f-b08d-f04d9ad898b8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s ease-in-out, background 0.8s;
/*   transition: all .3s ease-in-out; */
}
.main-front:hover{
  transform: scale(1.1); 
}

.time-main{
  font-size:35px;
  font-family: 'Nanum Gothic', sans-serif;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:absolute;
  top:60px;
  color:white;
}

#date{
  margin-top:-40px;
  padding:0;
  font-size:15px;
}
.icon{
  font-size:17px;
  position:absolute;
  top:10px;
  left:47%;
  color:white;
}

.finger{
  font-size:35px;
  position:absolute;
  bottom:90px;
  opacity:0.7;
  color:white;
}
.main:hover{
  transform: scale(1.1); 
}

.outer{
  width:30%;
  height:40%;
  background:#2B2B2B;
  position:absolute;
  top:0;
  left:0;
  border-radius: 20px 0 20px 0;
  display:flex;
  flex-direction:column;
  gap:10px;
  border-bottom:4px solid black;
  border-right:2px solid black;
}

.circle{
  width:40px;
  height:40px;
  border-radius:50px;
  background:black;
  margin-left:10px;
  opacity: 0.3;
  display:flex;
  flex-direction:colomn;
  align-items:center;
  justify-content:center;
  
}
.outer > .circle{
  margin-top:7px;
}
.small-circle{
  width:10px;
  height:10px;
  background:#E8D2A6;
  position:absolute;
  border-radius:50px;
  left:35%;
  top:10px;
  border: 2px solid #E1E5EA
}

h5{
  position:absolute;
  bottom:50px;
  color:
}

.middle-circle{
  width:10px;
  height:10px;
  background:grey;
  border-radius:20px;
opacity:0.3;
  border:4px solid #444444;
}

.side{
  background:black;
  position:absolute;
  width:2px;
  left:-4px;
  border-radius:30px 0 0 30px;
}

.side-front{
  background:black;
  position:absolute;
  width:2px;
  right:-4px;
  border-radius:30px 0 0 30px;
}

.side-big{
  height:55px;
  
  top:31%;
}

.side-small{
  height:30px;
  top:50%
}



.title{
  position:absolute;
  top:60px;
  background:#87A7B3;
  padding:20px;
  border-radius:20px;
  margin-bottom:60px;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.69);
-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.69);
box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.69);
}
.title-back{
  display:none
}

.show{
  display:flex;
  opacity: 1;
}

.reset{
  font-size:90%;
  border-radius:10px;
  background:#87A7B3;
  border:none;
  position:absolute;
  top: 800px;
  padding:10px;
  cursor:pointer;
  transition: all .3s ease-in-out;
  height:40px;
  width:80px;
  box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.69);
}

.reset:hover{
  transform: scale(1.1);
  background:#1687A7;
}

.main-input{
   position:absolute;
  margin-bottom:40px;
  flex-direction:colomn;
  
  align-items:center;
  justify-content:center;
  top:900px;
  padding-bottom:40px
}

.input{
/*   display:flex; */
  
   flex-direction:colomn;
  gap:10px;
  align-items:center;
  justify-content:center; 
  margin:20px;
  padding:5px;
  width:40px;
  font-size:20px;
  border:none;
  text-align:center;
}
.rgb-title{
  text-align:center;
  
}

.change{
  position:absolute;
  top:150px;
  left:35%;
  margin-bottom:40px;
  border:none;
  width:80px;
  height:40px;
  cursor:pointer;
  border-radius:20px;
  background:#87A7B3;
}

.none{
  display:none;
}

.flip{
  position:absolute;
  top:250px;
  width:200px;
  height:50px;
  margin-bottom:30px;
  font-size:20px;
  cursor:pointer;
  border-radius:10px;
  background:#3C84AB;
  color:white
}
.flip:hover{
  background:#537FE7
}